@font-face {
  font-family: brandon_grotesque;
  src: url("../../fonts/brandon-grotesque-regular.eot");
  src: url("../../fonts/brandon-grotesque-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-grotesque-regular.woff2") format("woff2"), url("../../fonts/brandon-grotesque-regular.woff") format("woff"), url("../../fonts/brandon-grotesque-regular.ttf") format("truetype"), url("../../fonts/brandon-grotesque-regular.svg#brandon_grotesque") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: brandon_grotesque;
  src: url("../../fonts/brandon-grotesque-medium.eot");
  src: url("../../fonts/brandon-grotesque-medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-grotesque-medium.woff2") format("woff2"), url("../../fonts/brandon-grotesque-medium.woff") format("woff"), url("../../fonts/brandon-grotesque-medium.ttf") format("truetype"), url("../../fonts/brandon-grotesque-medium.svg#brandon_grotesque") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: brandon;
  src: url("../../fonts/brandon-text-regular.eot");
  src: url("../../fonts/brandon-text-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-text-regular.woff2") format("woff2"), url("../../fonts/brandon-text-regular.woff") format("woff"), url("../../fonts/brandon-text-regular.ttf") format("truetype"), url("../../fonts/brandon-text-regular.svg#brandon") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: brandon;
  src: url("../../fonts/brandon-text-bold.eot");
  src: url("../../fonts/brandon-text-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-text-bold.woff2") format("woff2"), url("../../fonts/brandon-text-bold.woff") format("woff"), url("../../fonts/brandon-text-bold.ttf") format("truetype"), url("../../fonts/brandon-text-bold.svg#brandon") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: brandon_grotesque_;
  src: url("../../fonts/brandon-grotesque-regular.eot");
  src: url("../../fonts/brandon-grotesque-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-grotesque-regular.woff2") format("woff2"), url("../../fonts/brandon-grotesque-regular.woff") format("woff"), url("../../fonts/brandon-grotesque-regular.ttf") format("truetype"), url("../../fonts/brandon-grotesque-regular.svg#brandon_grotesque_") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: brandon_grotesque_;
  src: url("../../fonts/brandon-grotesque-medium.eot");
  src: url("../../fonts/brandon-grotesque-medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-grotesque-medium.woff2") format("woff2"), url("../../fonts/brandon-grotesque-medium.woff") format("woff"), url("../../fonts/brandon-grotesque-medium.ttf") format("truetype"), url("../../fonts/brandon-grotesque-medium.svg#brandon_grotesque_") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: brandon_grotesque_;
  src: url("../../fonts/brandon-grotesque-bold.eot");
  src: url("../../fonts/brandon-grotesque-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-grotesque-bold.woff2") format("woff2"), url("../../fonts/brandon-grotesque-bold.woff") format("woff"), url("../../fonts/brandon-grotesque-bold.ttf") format("truetype"), url("../../fonts/brandon-grotesque-bold.svg#brandon_grotesque_") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: brandon_text;
  src: url("../../fonts/brandon-text-regular.eot");
  src: url("../../fonts/brandon-text-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-text-regular.woff2") format("woff2"), url("../../fonts/brandon-text-regular.woff") format("woff"), url("../../fonts/brandon-text-regular.ttf") format("truetype"), url("../../fonts/brandon-text-regular.svg#brandon_text") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: brandon_text;
  src: url("../../fonts/brandon-text-bold.eot");
  src: url("../../fonts/brandon-text-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/brandon-text-bold.woff2") format("woff2"), url("../../fonts/brandon-text-bold.woff") format("woff"), url("../../fonts/brandon-text-bold.ttf") format("truetype"), url("../../fonts/brandon-text-bold.svg#brandon_text") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: caslon;
  src: url("../../fonts/caslon-book.eot");
  src: url("../../fonts/caslon-book.eot?#iefix") format("embedded-opentype"), url("../../fonts/caslon-book.woff2") format("woff2"), url("../../fonts/caslon-book.woff") format("woff"), url("../../fonts/caslon-book.ttf") format("truetype"), url("../../fonts/caslon-book.svg#caslon") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: caslon;
  src: url("../../fonts/caslon-book-italic.eot");
  src: url("../../fonts/caslon-book-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/caslon-book-italic.woff2") format("woff2"), url("../../fonts/caslon-book-italic.woff") format("woff"), url("../../fonts/caslon-book-italic.ttf") format("truetype"), url("../../fonts/caslon-book-italic.svg#caslon") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: caslon;
  src: url("../../fonts/caslon-medium.eot");
  src: url("../../fonts/caslon-medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/caslon-medium.woff2") format("woff2"), url("../../fonts/caslon-medium.woff") format("woff"), url("../../fonts/caslon-medium.ttf") format("truetype"), url("../../fonts/caslon-medium.svg#caslon") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: caslon;
  src: url("../../fonts/caslon-medium-italic.eot");
  src: url("../../fonts/caslon-medium-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/caslon-medium-italic.woff2") format("woff2"), url("../../fonts/caslon-medium-italic.woff") format("woff"), url("../../fonts/caslon-medium-italic.ttf") format("truetype"), url("../../fonts/caslon-medium-italic.svg#caslon") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: caslon;
  src: url("../../fonts/caslon-bold.eot");
  src: url("../../fonts/caslon-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/caslon-bold.woff2") format("woff2"), url("../../fonts/caslon-bold.woff") format("woff"), url("../../fonts/caslon-bold.ttf") format("truetype"), url("../../fonts/caslon-bold.svg#caslon") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: caslon;
  src: url("../../fonts/caslon-bold-italic.eot");
  src: url("../../fonts/caslon-bold-italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/caslon-bold-italic.woff2") format("woff2"), url("../../fonts/caslon-bold-italic.woff") format("woff"), url("../../fonts/caslon-bold-italic.ttf") format("truetype"), url("../../fonts/caslon-bold-italic.svg#caslon") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: funkydori;
  src: url("../../fonts/funkydori.eot");
  src: url("../../fonts/funkydori.eot?#iefix") format("embedded-opentype"), url("../../fonts/funkydori.woff2") format("woff2"), url("../../fonts/funkydori.woff") format("woff"), url("../../fonts/funkydori.ttf") format("truetype"), url("../../fonts/funkydori.svg#funkydori") format("svg");
  font-weight: 400;
  font-style: normal;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}
