@import 'global';

// Override variable for spree
$font-secondary: brandon_grotesque, arial, sans-serif;

body {
  font: 16px/1.6 $font-primary;
  color: $medium-gray;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $dark-gray;
  text-transform: uppercase;
  &.underline {
    display: block;
    border-bottom: 1px solid $light-gray;
    padding-bottom: .3em;
    @include media('<tablet') {
      text-align: center;
      border: 0;
    }
  }
  &.line {
    width: 100%;
    display: flex;
    align-items: center;

    &:before,
    &:after {
      content: '';
      height: 1px;
      background-color: $light-gray;
      display: block;
      flex: 1 1;
    }
    &:before {
      margin-right: 10px;
    }
    &:after {
      margin-left: 10px;
    }
  }
}

h1, .h1 {
  font: 700 30px/1.1667 $font-headline;
}
h2, .h2 {
  font: 700 24px/1.1667 $font-headline;
}
h3, .h3 {
  font: 700 18px/1.3334 $font-headline;
}
h4, .h4 {
  font: 500 18px/1.3334 $font-secondary;
}
h5, .h5 {
  font: 500 14px/1.2857 $font-secondary;
}
h6, .h6 {
  font: 500 12px/1.3334 $font-secondary;
}

/* Links */

a {
  color: $blue;

  &:hover {
    text-decoration: underline;
  }

  &.primary {
    font-family: $font-secondary;
    font-size: 14px;
    color: $dark-gray;
    font-weight: 500;
    text-transform: uppercase;

    &.inverse {
      color: $white;
    }
  }

  &.secondary {
    font-family: $font-secondary;
    font-size: 12px;
    text-decoration: underline;
    color: $medium-gray;

    &:hover {
      color: $lighter-gray;
    }
  }
}

/* Buttons */

.btn {
  font: 14px/40px $font-secondary;
  text-transform: uppercase;
  min-width: 170px;
  height: 40px;
  padding: 0 20px;
  outline: none!important;
  border-radius: 0;
  cursor: pointer;
  &.btn-primary {
    color: $white;
    background-color: $dark-gray;
    border-color: $dark-gray;
    &:hover {
      opacity: .85;
    }
  }
  &.btn-default {
    color: $dark-gray;
    background-color: $white;
    border-color: $dark-gray;
    font-size: 12px;
    font-weight: 500;
    &:hover {
      background-color: $very-light-gray;
    }
  }
  &.btn-link {
    font: 11px $font-primary;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: underline;
    color: $medium-gray;
    padding: 0;
    min-width: 0;
    height: auto;
    vertical-align: middle;
    &:hover {
      color: $light-gray;
    }
  }
  &.btn-none {
    min-width: 0;
    height: auto;
    padding: 0;
    border: 0;
    font: inherit;
    line-height: inherit;
    text-transform: none;
    text-decoration: none;
    background-color: transparent;
    vertical-align: top;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }
}

.btn.disabled:not(.btn-link),
.btn[disabled]:not(.btn-link) {
  color: $white;
  background-color: $light-gray;
  &:hover,
  &:focus {
    color: $white;
    background-color: $light-gray;
  }
}

/* Forms/Inputs */

form .row {
  margin-left: -7.5px;
  margin-right: -7.5px;
  [class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.radio,
.checkbox {
  overflow: hidden;
}

.checkbox .checkboxLabel,
.radio .radioLabel {
  font-size: 14px;
  cursor: pointer;
  padding-left: 24px;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  left: -100%;
}

input,
textarea,
select {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $white inset!important;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    font: 11px/1.6364 $font-primary;
    margin-top: 2px;
    color: $red;
  }
  .form-control {
    border-color: $red;
    &:focus {
      outline: none;
      border-color: $red;
      box-shadow: none;
    }
  }
}
